<ion-view title="Acerca de la App" id="page4">
  <ion-content padding="true" style="background: url(img/5m8yFtsQ4qCiD0zIHUUF_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/dnB6KboDQpOwr6I2jkjd_LogoRegl.deEstudiantes2.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Versión 1.0</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>2019</strong>
        </span>
      </h4>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div>
      <hr>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Diseño y Desarrollo de la App</strong>
        </span>
      </h4>
      <hr>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>Marcos Nieto</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 15px;"></div>
    <p style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </p>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="acercaDeLaApp-list7">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider2"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item33" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/fFoHaGUXQ2qUhPz5yXjX_bJCUoQfQLaxdrzCo7uG5_WhatsAppLogo.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item34" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/8q5huFloQjCuaBcaKAna_Q1PbLAGTSZOHIEhTPiSb_Facebook.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item35" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/vJUshNSpQW7o30YSgtak_cSUNHlnTsiZNjs5diyqn_Instagram.jpg">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>