<ion-view title="Indice" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>TITULO I</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>De la Vinculación de los estudiantes con la universidad</strong>
        </span>
      </h4>
    </div>
    <ion-list id="indice-list2">
      <ion-item class="item-icon-left positive" id="indice-list-item8" ui-sref="reglDeEstudiantes.tITULOICAPITULO1()">
        <i class="icon ion-document"></i>1- Situaciones genéricas</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item11" ui-sref="reglDeEstudiantes.tITULOICAPITULO2()">
        <i class="icon ion-document"></i>2- Derechos y obligaciones</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item12" ui-sref="reglDeEstudiantes.tITULOICAPITULO3()">
        <i class="icon ion-document"></i>3- Ingreso, requisitos y alcances</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item13" ui-sref="reglDeEstudiantes.tITULOICAPITULO4()">
        <i class="icon ion-document"></i>4- Libreta universitaria</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item14" ui-sref="reglDeEstudiantes.tITULOICAPITULO5()">
        <i class="icon ion-document"></i>5- Asistencia a clases y sus efectos</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item15" ui-sref="reglDeEstudiantes.tITULOICAPITULO6()">
        <i class="icon ion-document"></i>6- Trabajos prácticos</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item16" ui-sref="reglDeEstudiantes.tITULOICAPITULO7()">
        <i class="icon ion-document"></i>7- Evaluaciones parciales</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item17" ui-sref="reglDeEstudiantes.tITULOICAPITULO8()">
        <i class="icon ion-document"></i>8- Registros, diplomas y otras constancias</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>TITULO II</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>De los exámenes finales</strong>
        </span>
      </h4>
    </div>
    <ion-list id="indice-list3">
      <ion-item class="item-icon-left positive" id="indice-list-item18" ui-sref="reglDeEstudiantes.tITULOIICAPITULO1()">
        <i class="icon ion-document"></i>1- Exámenes finales</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item19" ui-sref="reglDeEstudiantes.tITULOIICAPITULO2()">
        <i class="icon ion-document"></i>2- Oportunidades para rendir libre</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item20" ui-sref="reglDeEstudiantes.tITULOIICAPITULO3()">
        <i class="icon ion-document"></i>3- Tribunales examinadores</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item21" ui-sref="reglDeEstudiantes.tITULOIICAPITULO4()">
        <i class="icon ion-document"></i>4- Recaudos en los exámenes</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item22" ui-sref="reglDeEstudiantes.tITULOIICAPITULO5()">
        <i class="icon ion-document"></i>5- Actas de Exámenes</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item23" ui-sref="reglDeEstudiantes.tITULOIICAPITULO6()">
        <i class="icon ion-document"></i>6- Promoción sin examen final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>TITULO III</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>De los pases y equivalencias</strong>
        </span>
      </h4>
    </div>
    <ion-list id="indice-list4">
      <ion-item class="item-icon-left positive" id="indice-list-item24" ui-sref="reglDeEstudiantes.tITULOIIICAPITULO1()">
        <i class="icon ion-document"></i>1- Los pases</ion-item>
      <ion-item class="item-icon-left positive" id="indice-list-item25" ui-sref="reglDeEstudiantes.tITULOIIICAPITULO2()">
        <i class="icon ion-document"></i>2- Las equivalencias</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>TITULO IV</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Disposiciones Complementarias</span>
      </h4>
    </div>
    <ion-list id="indice-list5">
      <ion-item class="item-icon-left positive" id="indice-list-item26" ui-sref="reglDeEstudiantes.tITULOIVCAPITULONICO()">
        <i class="icon ion-document"></i>Capitulo Único</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/CFTuPnKnSNydAzIKmFOA_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>