<ion-view title="Inicio" hide-nav-bar="true" id="page1">
  <ion-content padding="true" style="background: url(img/wkE1QnzGR86uVHbJXeUI_FondoApp9.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/dnB6KboDQpOwr6I2jkjd_LogoRegl.deEstudiantes2.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="inicio-list9">
      <ion-item class="item-icon-left positive" id="inicio-list-item27" ui-sref="reglDeEstudiantes.presentaciN()">
        <i class="icon ion-ios-information"></i>Presentación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list10">
      <ion-item class="item-icon-left positive" id="inicio-list-item29" ui-sref="reglDeEstudiantes.indice()">
        <i class="icon ion-ios-list"></i>Indice</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list6">
      <ion-item class="item-icon-left positive" id="inicio-list-item30" ui-sref="reglDeEstudiantes.noticias()">
        <i class="icon ion-social-rss"></i>Noticias</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list11">
      <ion-item class="item-icon-left positive" id="inicio-list-item31" ui-sref="reglDeEstudiantes.acercaDeLaApp()">
        <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
    </ion-list>
    <a ui-sref="reglDeEstudiantes.gUAUNLaR()" id="inicio-button1" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">GUÍA UNLaR</a>
  </ion-content>
</ion-view>