<ion-view title="Noticias" id="page3">
  <ion-content padding="true" style="background: url(img/wkE1QnzGR86uVHbJXeUI_FondoApp9.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/jvv1pL01Rb2rtOwrnG98_LogoGuiaUNLaRNoticias.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="noticias-list8">
      <ion-item class="item-divider" id="noticias-list-item-divider3"> </ion-item>
      <ion-item class="item-avatar dark" id="noticias-list-item36" href-inappbrowser="https://www.facebook.com/GUIA.UNLaR/posts/">
        <img src="img/8q5huFloQjCuaBcaKAna_Q1PbLAGTSZOHIEhTPiSb_Facebook.png">
        <h2dark>Facebook
          <p>@GUIA.UNLaR</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-divider" id="noticias-list-item-divider4"> </ion-item>
      <ion-item class="item-avatar dark" id="noticias-list-item38" href-inappbrowser="https://www.instagram.com/guia.unlar/">
        <img src="img/vJUshNSpQW7o30YSgtak_cSUNHlnTsiZNjs5diyqn_Instagram.jpg">
        <h2dark>Instagram
          <p>@guia.unlar</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-divider" id="noticias-list-item-divider5"> </ion-item>
    </ion-list>
  </ion-content>
</ion-view>