<ion-view title="Presentación" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">PRESENTACIÓN</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>El Reglamento de Estudiantes constituye el Anexo a la Ordenanza N° 283/2004 del Consejo Superior de la Universidad Nacional de La Rioja, dicho texto se encuentra en vigencia a la fecha y contiene los roles y vinculaciones del Estudiante con la Universidad,
        sus derechos y deberes en actividades de áreas y factores intervinientes en exámenes finales, en pases y en equivalencias. En esta versión digital se agregan los textos actualizados de sus modificaciones a lo largo del tiempo a través del mismo
        Consejo Superior que ha ordenado la norma.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/CFTuPnKnSNydAzIKmFOA_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>