<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/wkE1QnzGR86uVHbJXeUI_FondoApp9.jpg) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div class="spacer" style="height: 10px;"></div>
      <div>
        <img src="img/dnB6KboDQpOwr6I2jkjd_LogoRegl.deEstudiantes2.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="reglDeEstudiantes-list12">
        <ion-item class="item-icon-left positive" id="reglDeEstudiantes-list-item1" ui-sref="reglDeEstudiantes.inicio()" menu-close="">
          <i class="icon ion-android-home"></i>Inicio</ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="reglDeEstudiantes-list14">
        <ion-item class="item-icon-left positive" id="reglDeEstudiantes-list-item32" ui-sref="reglDeEstudiantes.presentaciN()" menu-close="">
          <i class="icon ion-ios-information"></i>Presentación</ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="reglDeEstudiantes-list15">
        <ion-item class="item-icon-left positive" id="reglDeEstudiantes-list-item2" ui-sref="reglDeEstudiantes.indice()" menu-close="">
          <i class="icon ion-ios-list"></i>Indice</ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="reglDeEstudiantes-list16">
        <ion-item class="item-icon-left positive" id="reglDeEstudiantes-list-item3" ui-sref="reglDeEstudiantes.noticias()" menu-close="">
          <i class="icon ion-social-rss"></i>Noticias</ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="reglDeEstudiantes-list1">
        <ion-item class="item-icon-left positive" id="reglDeEstudiantes-list-item4" ui-sref="reglDeEstudiantes.acercaDeLaApp()" menu-close="">
          <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>