<ion-view title="TITULO I - CAPITULO 8" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO 8</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LOS REGISTROS, DIPLOMAS, CERTIFICACIONES, Y OTRAS CONSTANCIAS.</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 32º&nbsp;</strong>
        </span>- Todo Registro virtual o informático de esta Universidad, tiene la plena validez que la legislación externa o interna le asigne, y solo puede considerarse dubitada en caso de no contar con respaldo documental (soporte papel) idóneo y suficiente.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 33º&nbsp;</span>
        </strong>- Las certificaciones parciales o finales de registros de Estudios realizados en esta Universidad, deberán ser expedidas desde la actuación respectiva, por la Secretaria de Asuntos Académicos del Rectorado con sello y firma de su Titular y la
        intervención previa de los demás Funcionarios que las reglamentaciones vigentes estipulen. En los casos de Estudiantes registrados en Sedes deberá incluirse la firma del Decano respectivo.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 34°</strong>
        </span> - En los Certificados Finales de Estudios deberán consignarse todas las Notas obtenidas por el Estudiante en las diversas asignaturas, la condición de Regular o Libre en que rindió sus exámenes. El Promedio Total, "Con Aplazos" y "Sin Aplazos",
        deberá ser consignado en forma específica.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 35º</span>
        </strong> - Los Diplomas que con las formalidades correspondientes deban entregarse a quienes hubieren finalizado sus Estudios de Grado o Pregrado en esta Universidad, estarán sujetos a lo siguiente:</p>
      <p>
        <strong>a)</strong> Serán expedidos a solicitud del Graduado en un plazo no superior a ciento veinte (120) días corridos a contar desde aquella petición.</p>
      <p>
        <strong>b)</strong> El formato, contenido y demás recaudos se regirán por una Resolución Rectoral</p>
      <p>
        <strong>c)</strong> Sin perjuicio de lo determinado por el Inciso anterior, en todos los trámites previos a la expedición de un Diploma, deberán intervenir la Secretaria de Asuntos Académicos del Rectorado, la Procuración General, y la Unidad de Auditoria</p>
      <p>
        <strong>d)</strong> Su entrega deberá efectuarse previa recepción de juramento a la persona del Graduado en Acto Público de Colación de Grados. Excepcionalmente, y por causas debidamente justificadas, podrán realizarse Colaciones En cualquier supuesto,
        deberá certificarse fehacientemente la entrega y la recepción, a través de Instrumento especifico que se integre a un libro foliado.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 36º</strong>
        </span> - Las constancias que no impliquen a las señaladas en los artículos anteriores de este Capítulo, podrán expedirse por los Departamentos Académicos y/o Sedes Universitarias, según sus registros &nbsp;y competencias.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 37º</span>
        </strong> - Toda certificación o constancia expedida por esta Universidad y que deba ser presentada ante Autoridad externa de la misma, deberá incluir su Sello Institucional, y quedar registrada su expedición y entrega en la Secretaria de General de esta
        Universidad.</p>
    </div>
  </ion-content>
</ion-view>