<ion-view title="TITULO I - CAPITULO 6" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>CAPITULO 6</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>DE LOS TRABAJOS PRÁCTICOS SECCIÓN ÚNICA</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 28º</strong>
        </span> - Entiéndese como Trabajo Práctico a las actividades empíricas, y/o teórico - experimentales de cada unidad didáctica de las distintas asignaturas en pos de la adquisición, por parte de los estudiantes, de las correlativas competencias y destrezas.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 29º</strong>
        </span>- Sin perjuicio de los otros requisitos, el estudiante para alcanzar la condición de "Regular" deberá aprobar no menos de un setenta y cinco por ciento (75%)de los al menos cuatro (4) trabajos &nbsp;prácticos previstos en el Plan &nbsp;de Cátedra
        y/ o Programa de la Asignatura y con un puntaje no inferior a cuatro(4). El Titular de Cátedra propondrá en su Plan Anual, la modalidad de Trabajo Prácticos Recuperatorios.</p>
    </div>
  </ion-content>
</ion-view>