<ion-view title="TITULO I - CAPITULO 1" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 1</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">ESTIPULACIONES Y SITUACIONES GENÉRICAS</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 1°</strong>
        </span>.- Las previsiones y estipulaciones del presente Reglamento son</p>
      <p>aplicables a los estudiantes de los distintos Planes Académicos que como Carreras de Grado o de Pre Grado se cursan en esta Universidad. También lo será para Carreras de Posgrado, salvo que el Plan respectivo determine especificaciones diferenciales.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 2º</strong>
        </span>.- Las denominaciones de "Alumno" y "Estudiante" resultan indistintas a los fines de este Ordenamiento, excepto que alguno de sus dispositivos les asignase significado especifico.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 3º</strong>
        </span>.- Los estudios que se cursan con la Modalidad Semi-Presencial o a Distancia se ajustan en lo sustancial a la presente normativa, a más de las disposiciones complementarias que, para dicho cursado, instrumente el Concejo Departamental correspondiente.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 4º</span>
        </strong> - Es Estudiante de esta Universidad Nacional &nbsp;de La Rioja, toda persona física que habiendo obtenido matrícula en alguna de sus carreras, recaude las exigencias académicas previstas en este ordenamiento; las que fija la Ley de Educación Superior
        y el Estatuto de esta Universidad.</p>
      <p>Las diversas denominaciones que el Sistema Informático Universitario (SIU) asigne a los estudiantes, tendrán plena validez en esta Universidad, y en su alcance técnico, estadístico y de registración virtual.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 5º</span>
        </strong> - Los Estudiantes Activos de esta Universidad pueden Revistar como Regulares, Libres o Vocacionales, con arreglo a esta reglamentación. La falta de inscripción anual sin causa justificada, determinará la perdida de la condición de Estudiante Activo,
        sin menoscabo de su eventual calidad de Estudiante regular previsto &nbsp;en el artículo anterior.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 6°</span>
        </strong> - Es Estudiante Regular el que hubiere aprobado por lo menos dos (2) asignaturas durante cada año académico, salvo cuando el Plan de Estudios prevea menos de cuatro (4) asignaturas anuales, en cuyo caso deben aprobar una (1) como mínimo (art.
        &nbsp;50, Ley Nacional de Educación Superior Nº 24.521). Quedan exceptuados&nbsp; &nbsp;de esta norma los estudiantes que solo adeuden el Trabajo Final de su respectivo Plan de Estudios.</p>
      <p>La condición de Estudiante Regular, a los fines de los Exámenes finales se reconocerá asimismo por cada asignatura regularizada, y con arreglo a lo señalado en el artículo Nº 11 del presente.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 7º</strong>
        </span> - Son Estudiantes Libres de la Universidad Nacional de La Rioja aquellos que asumen &nbsp;la autoconducción del proceso de aprendizaje en las asignaturas en las que previamente registraren &nbsp;inscripción.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 8°</strong>
        </span> - Son Estudiantes Vocacionales de la Universidad Nacional de La Rioja quienes, sin aspirar a la obtención de títulos o grados universitarios, se incorporen a la misma para cursar una o más asignaturas. El alumno vocacional recibirá un certificado
        por las materias que haya cursado, rendido y aprobado. La implementación de los Estudios y su certificación correspondiente, estarán a cargo de los diferentes Departamentos Académicos de la Universidad, &nbsp;y con resguardo de lo previsto por
        este Reglamento, y por la Ordenanza Nº 273/ 04, de esta Universidad.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 9°</strong>
        </span> - El estudiante regular, que cursando asignaturas, no cumpla con las exigencias académicas establecidas para tal condición, quedará en condición de Estudiante Libre. En igual situación se registrará a aquel que se le hubiere extinguido por el
        transcurso del tiempo la condición de "Regular".</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 10º</span>
        </strong> - Los estudiantes no podrán inscribirse en una asignatura sin tener aprobadas las correlativas del Plan de Estudios en el que se encuentran inscriptos. La infracción a este dispositivo será considerada "Falta Grave", y tal actividad y sus consecuentes
        efectuadas por el estudiante infractor en sus estudios, serán tenidas como "inexistentes".</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 11º</strong>
        </span> - La regularización de una asignatura, mantendrá su vigencia por el término de doce (12) épocas o turnos de exámenes, a contar desde el momento en que se adquiere la condición de Regular.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 12º</span>
        </strong> - En toda Carrera que se dicte en esta Universidad, su Plan de Estudios, el Régimen de Correlatividades, al igual que esta Ordenanza, se presumen sin excepción alguna, conocidos de pleno derecho por todos los Estudiantes de esta Universidad.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 13°&nbsp;</strong>
        </span>- A los fines de esta Normativa entiéndese como Año Lectivo Académico, el que se extiende desde &nbsp;el inicio del dictado &nbsp;del Primer Cuatrimestre de cada Calendario, hasta la finalización de la Primera Época de Exámenes del inmediato siguiente.</p>
    </div>
  </ion-content>
</ion-view>