<ion-view title="TITULO II - CAPITULO 1" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>CAPITULO&nbsp; 1</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>DE LOS EXAMENES FINALES EN GENERAL </strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 38° </strong>
        </span>- Todas las asignaturas de las Carreras que se cursan en esta Universidad, deberán ser aprobadas mediante exámenes finales, excepto lo previsto en este Título para la modalidad de "Promoción sin Examen Final"; o de "Trabajos Finales" y según lo
        consignado en los respectivos Planes de Estudios. Los exámenes serán Públicos, y receptados y calificados individualmente desde exposiciones orales y/o escritas producidos por cada estudiante.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 39º</span>
        </strong> - Cada Consejo Departamental establecerá, a solicitud de las Cátedras, las asignaturas que no podrán rendirse en condición de estudiante libre.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 40º</strong>
        </span> - Los exámenes, además de la formulación de preguntas teóricas, podrán comprender la realización de ejercicios, el manejo de elementos materiales o instrumentales, u otras destrezas empíricas atinentes, al igual que la respuesta a problemas que
        verifiquen la adquisición de &nbsp;los conocimientos impartidos.</p>
    </div>
  </ion-content>
</ion-view>