<ion-view title="TITULO IV - CAPITULO ÚNICO" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>CAPITULO ÚNICO</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo &nbsp;103º</strong>
        </span>&nbsp;- Este Reglamento, entrará &nbsp;en vigencia el día primero de Febrero del año dos mil cinco.</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo &nbsp;104°&nbsp;</span>
        </strong>- La normativa expedida previamente por cualquier Jurisdicción de esta Universidad, y que no se contradiga con lo dispuesto por este Ordenamiento, mantendrá total vigencia.</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo &nbsp;105º&nbsp;</span>
        </strong>- El Manual &nbsp;de Procedimientos y de Trámites Administrativos de esta&nbsp; Universidad, regirá, &nbsp;supletoriamente para &nbsp;toda &nbsp;actividad vinculada con este Reglamento.</p>
    </div>
  </ion-content>
</ion-view>