<ion-view title="TITULO II - CAPITULO 5" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO &nbsp;5</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LAS ACTAS DE EXAMENES</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 71º</strong>
        </span> - Las Actas de exámenes se emitirán por triplicado y serán numeradas y formalizadas según formalidades del Sistema informático vigente para ser completadas una vez receptados los exámenes. Un ejemplar de aquellas se entregará al Departamento Académico
        respectivo, otra será destinada para la Secretaría de Asuntos Académicos del Rectorado, y la restante para el Presidente de la Mesa Examinadora. En las Sedes Universitarias, deberá quedar fotocopia certificada por el Secretario Académico de la
        misma, de cada una de aquellas Actas.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 72°</span>
        </strong> - Las Actas de exámenes deberán ser firmadas por los estudiantes examinados, y al final de la nómina de alumnos inscriptos para rendir, por la máxima autoridad titular o formalmente Delegada de la Secretaría de Asuntos Académicos del Rectorado
        o de la Sede.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 73º</span>
        </strong> - Cuando, según el Sistema de Estructura Departamental de esta Universidad, una misma Dupla o Tribunal receptara exámenes de una asignatura con igual denominación, para estudiantes de distintas Carreras o Planes de Estudio, deberán confeccionarse
        actas para cada Carrera y Plan.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 74°</strong>
        </span> - Toda observación, o salvedad referenciable en el Acta de Exámenes, se advertirá mediante constancia escrita en la parte final del cuerpo de la misma, y rubricada por los integrantes de la Mesa Examinadora, por ante la Secretaría de Asuntos Académicos
        del Rectorado o de las Sedes, según corresponda. En tales casos, deberá expresarse sintéticamente la causal fáctica o legal que la determine, y/o posibilite.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 75°</span>
        </strong> - Las actas de exámenes que queden en poder de las Secretarías de Asuntos Académicos del Rectorado o de las Sedes respectivas, serán encuadernadas, foliadas y selladas, discriminadas por Carreras y Planes de Estudio. Este procedimiento se efectivizará
        al vencimiento de año académico. La Autoridad Interviniente dejará constancia de los libros y el número de folios que contienen, además de las visaciones y/o controles propios de los organismos de Supervisión o Auditación de la Universidad y/o
        del Ministerio de Educación, Ciencia&nbsp;y Tecnología de la Nación.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 76º</strong>
        </span>- Las actas encuadernadas, foliadas y selladas llevarán la firma del Secretario Académico del Rectorado o de las Sede, y del Jefe de la Oficina de Alumnos.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 77º</span>
        </strong>- Todas las Actas de Examen, una vez encuadernadas, quedarán bajo custodia de la Secretaría de Asuntos Académicos del Rectorado.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 78º</strong>
        </span> - Las funciones y responsabilidades que se encomiendan por la presente reglamentación a la Secretaría de Asuntos Académicos del Rectorado serán desempeñadas, en el ámbito de las Sedes Universitarias, por el respectivo Decano, y su Secretario Académico.</p>
    </div>
  </ion-content>
</ion-view>