<ion-view title="TITULO I - CAPITULO 5" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 5</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">DE LA &nbsp;ASISTENCIA A CLASES Y SUS EFECTOS SECCIÓN &nbsp;ÚNICA</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 26º</span>
        </strong> - La asistencia a clases, regulada en este Capítulo, comprende lo siguiente:</p>
      <p>
        <strong>a)</strong> Para obtener la condición de Regular, además de lo previsto por esta Ordenanza en relación a los Trabajos&nbsp; Prácticos, y Evaluaciones Parciales, el alumno deberá registrar una concurrencia no menor al 70% (setenta por ciento) a
        las clases teóricas dictadas en el ciclo lectivo.</p>
      <p>
        <strong>b)</strong> Cuando las clases se prevean como teórico &nbsp;- &nbsp;prácticas, &nbsp;la asistencia a las mismas no deberá ser inferior al &nbsp;80% &nbsp;(ochenta por ciento) de las desarrolladas en el ciclo lectivo.</p>
      <p>
        <strong>c)</strong> Cuando las clases teóricas y prácticas sean independientes, el alumno deberá cumplimentar no menos &nbsp;del 80% (ochenta &nbsp;por ciento) de asistencia &nbsp;a&nbsp;las clases prácticas; pudiendo las cátedras fijar un mínimo de asistencia
        a las clases teóricas, nunca inferior al 70% (setenta por ciento) del total dictado.</p>
      <p>
        <strong>d)</strong> Las asistencias a clases deberán registrarse mediante la firma de los alumnos asistentes a la actividad respectiva, recepcionada por el docente a cargo de aquella.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 27º</strong>
        </span> - En el caso de alumnos Vocacionales, cada Departamento Académico reglamentará lo atinente a la obligatoriedad de asistencia y demás cuestiones legisladas en este Sección.</p>
    </div>
  </ion-content>
</ion-view>