<ion-view title="TITULO II - CAPITULO 2" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO &nbsp;2</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LAS OPORTUNIDADES HABITUALES Y EXCEPCIONALES PARA RENDIR EXAMENES.</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 41°</span>
        </strong> - La Universidad constituirá Mesas Examinadoras, para todas las asignaturas de los planes &nbsp;de estudio correspondientes a las carreras que se cursan en la misma, en cinco (5) épocas o turnos durante el año calendario:</p>
      <p>
        <strong>a)</strong> 1º Turno Febrero - Marzo: tres (3 )llamados</p>
      <p>
        <strong>b)</strong> 2° Turno &nbsp;Mayo: un (1) llamado</p>
      <p>
        <strong>c)</strong> 3° Turno Julio - Agosto: dos (2) llamados</p>
      <p>
        <strong>d)</strong> 4° Turno &nbsp;Septiembre: &nbsp;un (1) llamado</p>
      <p>
        <strong>e)</strong> 5° Turno &nbsp;Noviembre - Diciembre: dos (2) llamados.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 42º</span>
        </strong> - La fecha y horario de los Exámenes, serán fijados por la Secretaría de Asuntos Académicos del Rectorado.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 43º</strong>
        </span>&nbsp;- Las fechas de exámenes no serán modificadas salvo casos de fuerza mayor debidamente verificados. En tal caso mediante Resolución del Decano del Departamento Académico, o de Sede respectivo, se autorizará el cambio de fecha, fijando la
        sucesiva y notificando a la Secretaria Académica del Rectorado. Ello deberá ser difundido en Transparentes de las jurisdicciones correspondientes.</p>
      <p>Para los estudiantes que realicen prácticas especiales de verano o invierno, se otorgará una prórroga de las fechas de los exámenes, del Primer Turno para Mayo; y del Tercer Turno para Septiembre.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 44º</span>
        </strong> - En caso de ser decretado asueto o feriado el día establecido para &nbsp;la constitución de una mesa examinadora, el examen&nbsp; se tomará el día hábil inmediato siguiente y a la misma hora.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 45°</strong>
        </span> - Cuando se constituya una Mesa Examinadora en un Turno Especial, se procederá de acuerdo a las normas establecidas para los turnos ordinarios.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 46º</span>
        </strong> - Cuando un Estudiante Regular y Activo de esta Universidad adeude hasta tres (3) materias para concluir su carrera podrá solicitar, por única vez, Mesa Especial de Examen. Las solicitudes deberán ser presentadas con una antelación no menor de
        15 (quince) días corridos a la fecha en que deseen ser examinados.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 47°</strong>
        </span>- Las Mesas Especiales a las que hace referencia el artículo precedente podrán solicitarse durante todo el año académico, aunque con una posterioridad no inferior a los cinco (5) días hábiles desde la última fecha de Exámenes del Turno ordinario
        inmediato anterior.</p>
    </div>
  </ion-content>
</ion-view>