<ion-view title="TITULO I - CAPITULO 4" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 4</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">DE LA LIBRETA UNIVERSITARIA</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 22°</strong>
        </span> -&nbsp;A todo Estudiante de esta Universidad definitivamente Matriculado, deberá&nbsp;proveérsele de una Libreta Universitaria, en la que deberá &nbsp;constar: Nombre y Apellido/s; &nbsp;Nacionalidad; Lugar de Nacimiento; Documento de Identidad;
        Titulo Obtenido en el Nivel Polimodal (Nivel Medio); Institución Otorgante; Domicilio&nbsp;y Nº de Teléfono; Carrera y Plan en que se inscribe y Fecha de Ingreso. Deberá&nbsp;asimismo, preverse en sus fojas debidamente encuadernadas, todos los
        espacios&nbsp;atinentes a las&nbsp; Evaluaciones Parciales, Trabajos Prácticos, Evaluaciones finales, Control Clínico- Psicofísico, Contribuciones a FUNLaR, y todo otro dato resulte correspondiente con actividades registrables del estudiante.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 23º</span>
        </strong> - Los datos insertos en la Libreta Universitaria hacen plena fe, excepto en el caso de Discordancia con Instrumentos que se registren en Oficinas de esta Universidad, caso en el cual la plena validez es de estos últimos.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 24º</span>
        </strong> - Los trámites que realice el alumno dentro del ámbito de esta Universidad exigirán la presentación de su Libreta Universitaria.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 25º</strong>
        </span>- Al finalizar los Estudios de cada estudiante, deberá insertarse en su Libreta Universitaria, un Sello que acredite tal situación, refrendado con la firma y sello del respectivo Decano de Departamento Académico y del Secretario de Asuntos Académicos
        &nbsp;del Rectorado.</p>
    </div>
  </ion-content>
</ion-view>