<ion-view title="TITULO III - CAPITULO 1" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO 1</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LOS PASES</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 84º</span>
        </strong> - Podrán solicitar inscripción por pases y con pedido de Equivalencias a las distintas Carreras y sus Asignaturas que se cursan en la Universidad Nacional de La Rioja, los estudiantes provenientes de:</p>
      <p>
        <strong>a)</strong> Otras carreras de la Universidad Nacional de La</p>
      <p>
        <strong>b)</strong> Otras Universidades o Institutos Universitarios Nacionales, o Provinciales, o Privados, reconocidos según la Ley Nacional Nº 24.521.</p>
      <p>
        <strong>c)</strong> Graduados y/ o estudiantes de establecimientos terciarios no universitarios públicos o privados y de institutos y/o escuelas oficiales de las Fuerzas Armadas con arreglo a la Legislación</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 85º</span>
        </strong> - Los solicitudes previstas en este Capítulo solo podrán presentarse entre el primer día hábil y el 31 de marzo de cada año.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 86º</span>
        </strong> - Será indispensable para la consideración de las solicitudes de pases, que el recurrente acredite en modo fehaciente que, en alguna Carrera de otra Universidad, o de algún Instituto Universitario, las asignaturas que tuviere aprobadas sean equivalentes
        en todo o en parte con sus similares o análogas de esta Universidad. En el caso de Asignaturas aprobadas por sus alumnos en Carreras de Grado o Pregrado de esta Universidad, y en el marco temporal habilitado, el pase a otras Carreras deberá asignar
        Equivalencias Directa.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 87º</span>
        </strong>- A los fines de la inscripción por pase en una Carrera de esta Universidad, los pretendientes deberán solicitar equivalencias en las asignaturas del Plan de Estudios de aquella. Deberán asimismo haber aprobado, como mínimo, dos materias de las
        asignaturas correspondientes al Primer Año del Plan de Estudios de la Carrera de origen.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 88º</strong>
        </span> - La solicitud de Pase, requerirá, al inicio del Trámite, el Cese o baja en la Matrícula Universitaria de Origen y la certificación fehaciente y debidamente suscripta y sellada que registre las Asignaturas aprobadas en la misma.</p>
    </div>
  </ion-content>
</ion-view>