<ion-view title="TITULO I - CAPITULO 7" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>CAPITULO 7</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>DE LAS EVALUACIONES PARCIALES</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 30º&nbsp;</strong>
        </span>-&nbsp;En el transcurso del dictado de las asignaturas se evaluará al estudiante mediante Pruebas Parciales, cuyos temas&nbsp;abarcativos de una fracción del Programa de las mismas deberán ser&nbsp;previstos en el respectivo Plan anual de actividades
        y notificada la fecha de realización al inicio del ciclo lectivo; debiendo medir un intervalo de un (1) día corrido entre una prueba parcial y otra, correspondiente a materias de un mismo año de cursado. No podrán fijarse fechas de evaluaciones
        parciales durante (7) días previos al establecido para los exámenes finales de los turnos de mayo y septiembre, ni en las semanas que se efectue dicha instancia evaluativa.</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 31º</strong>
        </span> - Se receptarán por lo menos dos (2) y no más de cuatro (4) Pruebas Parciales por asignatura. El alumno deberá aprobar la totalidad de las pruebas parciales, con un puntaje no inferior a cuatro (4) puntos en cada una. Las Cátedras deberán proponer
        al Departamento Académico respectivo, en su Plan Anual, el régimen y oportunidad de recuperación, para casos de estudiantes aplazados en una de aquellas Evaluaciones.</p>
    </div>
  </ion-content>
</ion-view>