<ion-view title="TITULO I - CAPITULO 2" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 2</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">DE LOS DERECHOS Y OBLIGACIONES DE LOS ESTUDIANTES</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 14º</strong>
        </span> - Los Estudiantes de la U.N.LaR. cuentan con los Derechos y Garantías que explícita o implícitamente estipula la Constitución Nacional.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 15º</strong>
        </span> - Todos los estudiantes activos y los estudiantes regulares según sus casos, de esta Universidad, son legítimos titulares de los Derechos y Obligaciones previstos en la Ley Nacional de Educación Superior, Nº 24.521, el Estatuto de la Universidad
        Nacional de la Rioja y los señalados en este ordenamiento.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 16°</strong>
        </span> - El Consejo Superior de esta Universidad, el Rectorado y los Departamentos Académicos, en el ámbito de sus jurisdicciones, están facultados para dictar las reglamentaciones de aquellos derechos y obligaciones.</p>
    </div>
  </ion-content>
</ion-view>