<ion-view title="TITULO II - CAPITULO 3" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 3</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">DE LOS TRIBUNALES O DUPLAS EXAMINADORAS Y SU ACTIVIDAD</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 48º</span>
        </strong> - Las evaluaciones Finales de Cada Asignatura deberán receptarse por un Tribunal integrado por Tres (3) Docentes, que revisten como Titular, Asociado y/o Adjunto, y que Integren el Equipo de cada Cátedra. Excepcionalmente, y bajo la Presidencia
        del Titular de la Asignatura, podrá incluirse en la Mesa Examinadora a Docentes de Cátedras Afines y/o Jefes de Trabajos Prácticos (Art. 108 del Estatuto de la UNLaR). Podrá constituirse una Dupla Examinadora como Mesa de Examen, para tal supuesto,
        o en cualquier caso en que resulte imposible contar con Tres Integrantes para &nbsp;constituir&nbsp; &nbsp;la Mesa de Examen.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 49º</span>
        </strong> - Los Decanos de los Departamentos Académicos, designarán el Tribunal o la Dupla Examinadora para los Exámenes Finales de cada asignatura, y con arreglo a lo previsto para ello en este Título. Aquella misma Autoridad deberá:&nbsp;</p>
      <p>
        <strong>a)</strong> Ante la ausencia por cualquier causa del docente titular de la Cátedra respectiva, producir la suspensión inmediata del acto de evaluación, aún luego de comenzado el El Decano de Departamento Académico o de Sede, deberá fijar de inmediato
        nueva oportunidad para la celebración de los exámenes suspendidos o interrumpidos, los cuales deberán recepcionarse dentro del mismo turno y con inmediata comunicación a la Secretaría de Asuntos Académicos del Rectorado, en todos los casos.</p>
      <p>
        <strong>b)</strong> Designar al Presidente de la Mesa Examinadora en caso que la asignatura no estuviere a cargo del Profesor Titular, Asociado o Adjunto, por vacancia, renuncia u otra situación análoga debidamente acreditada.</p>
      <p>
        <strong>c)</strong> Resolver cualquier otra cuestión imprevista.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 50º</strong>
        </span> - La Secretaria de Asuntos Académicos del Rectorado, y/o de las Sedes, comunicaran a los integrantes de la Mesa Examinadora y a los Departamentos Académicos, las correspondientes fechas de examen, con una anticipación no inferior a siete (7) días
        corridos excluido el del acto que se notifica.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 51º</strong>
        </span> - Hasta cinco (5) días corridos antes de la fecha fijada para &nbsp;el examen, cualquiera de los miembros de la Mesa Examinadora podrá ser recusado por escrito ante el Departamento Académico o Decanato de Sede correspondiente, explicitando las
        causas que justifiquen debidamente la recusación. Esta será considerada por los Decanos de Departamentos o de Sede, recabando, previamente, todos los datos y elementos de juicio que se consideren necesarios. La decisión será adoptada antes de
        la fecha prevista para el Examen y con carácter de irrecurrible. En caso de darse curso a la recusación y constituirse una nueva Mesa Examinadora para el estudiante recusante, con exclusión del docente recusado, e incorporación de reemplazante,
        el acto se desarrollará de acuerdo a este reglamento.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 52º</strong>
        </span> - No podrá ser causal de recusación el haber sido aplazado por el docente recusado. En caso que el recusado fuera algún Funcionario de esta Universidad, se procederá conforme al Manual de Procedimientos y de Trámites Administrativos.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 53º</strong>
        </span> - Cuando los integrantes de la Mesa Evaluadora, tengan parentesco por consanguinidad dentro del cuarto grado inclusive, con algún estudiante inscripto para examen, deberán inhibirse de receptar el examen de aquel. &nbsp;Tal circunstancia deberá
        comunicarse oportunamente al Decano del Departamento o de Sede, para que se designe un sustituto al efecto. La no inhibición del o los miembros de la mesa examinadora en tal situación, determinará la anulación del examen del estudiante respectivo.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 54°</span>
        </strong> - El docente que no pudiere asistir a integrar una mesa examinadora deberá comunicarlo al Departamento Académico o Decano de Sede correspondiente, con no menos de cuarenta y ocho (48) horas de anticipación a la iniciación del examen. La justificación
        de la inasistencia se ajustará al régimen de licencia, justificaciones y franquicias vigentes de la Universidad.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 55º</strong>
        </span> - Serán obligaciones y atribuciones del Presidente de la Mesa Examinadora:</p>
      <p>
        <strong>a)</strong> Constituir el Tribunal o Dupla Examinadora en la fecha y hora previstos, con una tardanza que no exceda de Treinta (30) minutos.</p>
      <p>
        <strong>b)</strong> Cumplir y hacer cumplir el presente Ordenamiento.</p>
      <p>
        <strong>c)</strong> Velar por el normal &nbsp;desarrollo de los exámenes hasta &nbsp;su conclusión.</p>
      <p>
        <strong>d)</strong> Comunicar todas las irregularidades producidas con anterioridad a la recepción de exámenes y que advirtiere en el Acta respectiva, o que se produjeren durante el acto de celebración de los exámenes, a la respectiva Secretaría de Asuntos
        Académicos. Tal dependencia deberá informar de inmediato al Decano de Departamento o de Sede el que adoptará con carácter de URGENTE y con igual fecha, las medidas correspondientes.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 56º</span>
        </strong> - La Mesa Examinadora no podrá &nbsp;interrumpir su tarea, salvo &nbsp;casos de fuerza &nbsp;mayor, &nbsp;situación que deberá &nbsp;ser informada a los respectivos Departamentos Académicos o Decanos de Sede.</p>
    </div>
  </ion-content>
</ion-view>