<ion-view title="TITULO II - CAPITULO 4" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO &nbsp;4</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LOS RECAUDOS &nbsp;Y FORMALIDADES EN LOS EXAMENES</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 57º</span>
        </strong> - Para poder rendir examen en condición de Regular, el estudiante deberá haber alcanzado tal condición y mantenerla vigente en la respectiva asignatura al tiempo de la inscripción, además de tener aprobadas las materias correlativas del correspondiente
        Plan de Estudios.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 58º</strong>
        </span> - El estudiante aplazado en una fecha de exámenes, podrá rendir solo una vez más la misma asignatura en otro llamado del mismo turno.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 59º</strong>
        </span>- Las inscripciones de los estudiantes para rendir exámenes regulares o libres se efectuarán en la respectiva Dependencia de la Secretaría de Asuntos Académicos del Rectorado o de las Sedes, por medio documentado y/o del Sistema SIU, en las fechas
        que a tal efecto se establezcan, y con una &nbsp;antelación de no menos de cinco (5) días hábiles a la fecha de examen, sin contar ésta.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 60º</span>
        </strong>- La inscripción para rendir un examen, deberá realizarse personalmente por el interesado, o en su defecto, por persona delegada con autorización escrita. El estudiante que estuviere ausente durante la fecha de inscripción podrá presentar su solicitud
        por correspondencia certificada con aviso de retorno o Carta Documento dirigida a la Secretaria de Asuntos Académicos del Rectorado o de la Sede correspondiente. La fehaciente constancia de su envío, servirá de Instrumento válido de Solicitud
        de Inscripción.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 61º</span>
        </strong> - Por ninguna causa se aceptarán solicitudes de inscripción a exámenes, que resulten formuladas fuera de término.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 62º</span>
        </strong> - Todos los exámenes serán públicos, bajo pena de nulidad. Antes de iniciar el examen, la Mesa Examinadora procederá a verificar, delante de los estudiantes inscriptos presentes, que se encuentran en el bolillero todas las bolillas del programa
        de examen. Asimismo, el estudiante podrá solicitar al momento de extraer bolillas que se constate la inclusión en el bolillero de todas aquellas que correspondan al programa de examen.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 63°</strong>
        </span> - Solo se recepcionará examen a estudiantes que presenten su Libreta Universitaria, excepto cuando hubieren denunciado con anterioridad la pérdida de la misma. En tal circunstancia, la Secretaría de Asuntos Académicos del Rectorado o el Decano
        de Sede, autorizará por escrito al alumno a rendir examen, quien presentará dicha constancia y su documento de identidad a la Mesa Examinadora.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 64º</strong>
        </span>- Los estudiantes inscriptos, serán examinados según el orden de la lista del Acta de Examen, y en un llamado que no podrá exceder a quince (15) minutos desde constituida la Mesa Examinadora. Quienes no comparezcan serán registrados como ausentes
        en el acta respectiva. Si ninguno de los estudiantes&nbsp;inscriptos estuvieren presentes en la hora fijada para el inicio del examen, el Tribunal Examinador esperará hasta quince (15) minutos después de su constitución para levantar la Mesa Examinadora.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 65°</span>
        </strong> -&nbsp;No podrá tomarse mas de un examen final en un mismo día. Para el caso en que el plan de estudio de la carrera exceda seis materias o más del mimo año, deberá tomarse los examenes finales con un intervalo no menor a seis horas, repetando
        el régimen de correlatividades del plan respectivo.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 66º</span>
        </strong> - Cerrada la inscripción para los exámenes, las secretarias de Asuntos Académicos del Rectorado y/o de las Sedes, elaborarán bajo su responsabilidad, por orden alfabético, las actas de exámenes &nbsp;de los estudiantes regulares y libres, por
        cada asignatura y según sus registros.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 67º</strong>
        </span> - La Secretaría de Asuntos Académicos del Rectorado o de Sede, exhibirá, un (1) día antes de la fecha de exámenes, las Actas de Estudiantes inscriptos, a fin de que los mismos puedan reclamar por cualquier omisión o error.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 68°</strong>
        </span> -
        <strong>A)</strong> El examen final de estudiantes regulares será rendido con el Programa vigente al tiempo de haber alcanzado la regularidad el estudiante examinado, y será producido en forma oral. Salvo el caso en que el examinado optare previamente
        por rendir con "Programa Abierto" el estudiante extraerá de un bolillero la cantidad de tres (3) bolillas correspondientes a cada Unidad del Programa de la Asignatura las que deberá ser verificadas por todos los integrantes del Tribunal o Duplas
        Examinadoras. El Estudiante expondrá sobre temas de la bolilla sorteada que él elija, debiendo ser luego examinado sobre temas de una o dos de las restantes bolillas. En todos los casos, el estudiante dispondrá, por lo menos, de un plazo de quince
        (15) minutos previos a su exposición para organizar la misma. En tal ocasión no podrá contar con apuntes u otros medios análogos, ni podrá tampoco retirarse del asiento asignado, y/o formular consultas. En la Modalidad de "Programa Abierto" el
        examen, consistirá en la indagación de conocimientos de cualquiera de los Temas que abarquen las diversas unidades del Programa de la Cátedra. Los Alumnos Regulares podrán rendir sus Exámenes finales por Escrito solo en casos en que así se hubiere
        autorizado por la Dirección de la Carrera, previo dictamen del Concejo Consultivo. Tal autorización deberá incluir las modalidades específicas de recepción y evaluación, las que deberán asemejarse en lo posible a las del Examen Oral.</p>
      <p>
        <strong>B)</strong> En los Exámenes de Estudiantes Libres, la evaluación desde el Programa vigente al momento de la Evaluación, se compondrá de dos (2) etapas. La primera consistirá en responder, con más del setenta por ciento (70%) de evaluación favorable,
        a un temario escrito, libremente asignado por el Presidente de la Mesa Examinadora. La Segunda fase se recepcionará solo en caso de resultar calificado con "suficiente" la Prueba Escrita, y tendrá igual modalidad que la del para el Examen de estudiantes
        Aunque en este caso y sin permitir la modalidad de "Programa Abierto" la elección del orden de exposición de las unidades sorteadas, estará a cargo del Presidente de la Mesa Examinadora, y se evaluaran la totalidad de aquellas. En caso de no obtener
        Evaluación favorable en la fase escrita, se lo tendrá por aplazado. El puntaje a asignar al Estudiante que apruebe el Examen en condición de Libre, será el obtenido en el Examen Oral.</p>
      <p>
        <strong>C)</strong> En el caso de Exposición de Trabajos Finales, cada Departamento Académico, fijará la modalidad evaluatoria correspondiente.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Articulo 69º</strong>
        </span> - Los integrantes de la Mesa Examinadora decidirán en privado, la calificación de todo examen, y de acuerdo a la siguiente escala:</p>
      <p>
        <strong>a)</strong> 0,1,2,3:Insuficiente</p>
      <p>
        <strong> b)</strong> 4: Suficiente</p>
      <p>
        <strong>e)</strong> 5,6: Bueno</p>
      <p>
        <strong>e)</strong> 7,8,9: Distinguido</p>
      <p>
        <strong>d)</strong> 10: &nbsp;Sobresaliente.</p>
      <p>Deberá entenderse como Aprobado al Estudiante que obtenga Cuatro (4) o más puntos en su evaluación.</p>
      <p>El Estudiante Regular o Libre que, luego de extraídas las bolillas, o asignado el tema escrito se retirara sin exponer en cualquier modalidad, será calificado con Cero (O).</p>
      <p>Los integrantes de la Mesa Examinadora certificarán con sus firmas en el Acta, y en la Libreta Universitaria respectiva la calificación obtenida por cada estudiante.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 70º</strong>
        </span> - Los miembros de la Mesa &nbsp;Examinadora no podrán retirarse hasta finalizados todos los exámenes, firmando previamente las actas respectivas. El Presidente de la Mesa Examinadora, inmediatamente de finalizado el examen, deberá entregar personalmente
        ante la Secretaría de &nbsp;Asuntos Académicos del respectivo Departamento o de la Sede las actas confeccionadas, programas, bolilleros y todo otro elemento didáctico utilizado para la ocasión.</p>
    </div>
  </ion-content>
</ion-view>