<ion-view title="TITULO I - CAPITULO 3" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">CAPITULO 3</span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">DEL INGRESO: REQUISITOS Y ALCANCES</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 17º</span>
        </strong> - Los requisitos para la formalización de la inscripción como Aspirante a Estudiante de la Universidad Nacional de La Rioja, son los siguientes:</p>
      <p>
        <strong>a)</strong>
        <strong>Solicitud de Inscripción</strong>, efectuada en Formulario específico adjunto a la Certificación que acredite el egreso del Nivel Medio o el Ciclo Polimodal de Enseñanza de cualquier jurisdicción, y que cuente con reconocimiento Los mayores de
        veinticinco años que no reúnan esa condición, podrán ingresar siempre que demuestren a través de una evaluación que se realizará al efecto, que tienen preparación y/ o experiencia laboral acorde con los estudios que se proponen iniciar, así como
        aptitudes y conocimiento suficientes para cursarlos satisfactoriamente (Ley de Educación Superior Nº 24.521 - Art.7° reglamentado por Resolución Rectoral Nº 1002/95).</p>
      <p>
        <strong>b)</strong>
        <strong>Certificado Analítico</strong> de egreso del Nivel Medio o el Ciclo Polimodal de enseñanza. Tal Instrumento podrá adjuntarse hasta el día 30 de abril del año de inscripción (o el día inmediato subsiguiente hábil, si se diese el supuesto de un
        día feriado o no laborable en esa fecha). El Rectorado está facultado a fijar -anualmente- la fecha límite para regularizar la situación de aquellos estudiantes que adeudan hasta dos asignaturas</p>
      <p>
        <strong>c)</strong>
        <strong>Documento de Identidad</strong> y una (1) fotocopia de las dos (2) primeras hojas del mismo.</p>
      <p>
        <strong>d)</strong>
        <strong>Certificado de Domicilio</strong>.</p>
      <p>
        <strong>e)</strong>
        <strong>Tres (3) fotografías</strong> tipo carnet 4x4 cm.</p>
      <p>
        <strong>f)</strong>
        <strong>Una (1) fotocopia de la Partida de Nacimiento</strong>, autenticada en la UNLaR por la Secretaría General o por autoridad competente.</p>
      <p>
        <strong>g)</strong>
        <strong>Constancia de Aprobación del Curso de Ingreso</strong>, que en su caso, resulte implementado por los Departamentos Académicos en relación a las respectivas carreras y sobre la base de la reglamentación que para cada caso se</p>
      <p>
        <strong>h)</strong>
        <strong>Constancia de pago de la inscripción</strong>, la que deberá formalizarse en dependencias de la Fundación de la Universidad Nacional de La Rioja - FUNLaR.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 18º</strong>
        </span> - Las asistencias, evaluaciones parciales y finales a Cursos de Ingreso, o modalidades análogas, se regirán por sus respectivas previsiones y, en subsidio, por lo establecido en el presente.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 19º&nbsp;</strong>
        </span>- Para el caso de Aspirantes a Estudiantes extranjeros, los mismos deberán acompañar igual documentación, y/ o constancia que los aspirantes argentinos, debidamente legalizadas por la Cancillería y/ o Embajadas o Consulados Nacionales y según
        la regulación vigente en nuestro País.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 20°</strong>
        </span> -&nbsp;Los postulantes egresados del "Colegio Preuniversitario General San Martín”, quedan exceptuados de cumplimentar el Curso de Ingreso relativo a introducción a la vida universitaria, debiendo satisfacer las exigencias de los restantes cursos
        que se fijen para la carrera en la que se inscribe. Si se presentaren situaciones especiales debidamente justificadas, las mismas serán consideradas y resueltas por la Secretaria de Asuntos Académicos del Rectorado.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 21º</span>
        </strong> - En el periodo que va desde la solicitud de inscripción, hasta que apruebe el Curso de Ingreso, y complete toda la documentación requerida en la sección Anterior de este Capitulo, el postulante se considerará como "Aspirante &nbsp;a Estudiante.
        Tal situación le vedará ser evaluado en Exámenes Finales &nbsp;de cualquier tipo.</p>
    </div>
  </ion-content>
</ion-view>