<ion-view title="TITULO II - CAPITULO 6" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO 6</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DEL SISTEMA DE PROMOCIÓN SIN EXAMEN FINAL</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">&nbsp;</h4>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 79°</span>
        </strong> - Los Titulares de Cátedras, podrán proponer anualmente al Departamento respectivo el sistema de Promoción Sin Examen Final de acuerdo a la característica curricular de aquellas, lo que en caso de aprobación se regirá por las siguientes disposiciones.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 80º</strong>
        </span> - Para poder acceder al sistema de Promoción sin Examen Final, el estudiante, además de inscribirse específicamente, deberá tener al momento de su inscripción, aprobadas todas las asignaturas correlativas previas, previstas en el Plan de Estudios.
        En el Primer año, tal requisito no será exigible, aunque si el cumplimiento de todas las condiciones para el Ingreso, debiendo cada Titular de Cátedra proponer la modalidad de acceso.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 81º</span>
        </strong>- Los estudiantes cursantes en esta Modalidad, deberán rendir durante el ciclo lectivo un mínimo de tres (3) Pruebas Parciales y con un puntaje no menor a siete (7) puntos en cada una de ellas. Cada prueba será integral y podrá comprender además
        los temas de las unidades de evaluaciones anteriores.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 82°</span>
        </strong> - El estudiante que, debidamente inscripto con asistencia no menor al 80% a clases teóricas, que registrare puntaje no inferior al previsto en el artículo anterior, y la aprobación de Trabajos Prácticos habituales al obtener su condición de Promocionado,
        deberá ser evaluado solamente con un Coloquio Final en relación a una Unidad del Programa cursado, elegido por el mismo.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 83º</strong>
        </span> - El estudiante que, aunque habiendo satisfecho los demás requisitos, no alcanzare el puntaje requerido, pero sí un promedio de cuatro (4) o más, quedará en condiciones de Regular, debiendo rendir Examen Final en tal modalidad. Los estudiantes
        que no hayan alcanzado aquel promedio quedarán en condición de Libres.</p>
    </div>
  </ion-content>
</ion-view>