<ion-view title="TITULO III - CAPITULO 2" id="page22">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">CAPITULO 2</span>
        </strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>
          <span style="color: #ff6600;">DE LAS EQUIVALENCIAS</span>
        </strong>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 89°</strong>
        </span> - Las equivalencias se concederán teniendo en cuenta exclusivamente las materias que el alumno tenga aprobadas al momento de su solicitud.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 90º</strong>
        </span>- Las equivalencias no se acordarán en forma conjunta, sino que serán consideradas de acuerdo a la Estructura Matricial de esta Universidad y el respectivo régimen de correlatividades, y según las asignaturas aprobadas en el Plan de la Carrera
        de origen.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 91º</span>
        </strong> - Esta Universidad no podrá otorgar equivalencia en porcentaje superior al setenta por ciento (70%) de las Asignaturas del Plan de Estudios de la respectiva Carrera de origen.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 92º</strong>
        </span> - No se aplicará la limitación del artículo anterior, a los estudiantes que soliciten inscripción para Pase, motivado en razones de traslado del grupo familiar o vinculado con su relación laboral. Tales situaciones deberán estar fehacientemente
        acreditadas. En caso de falsedad de la declaración o de acreditación de la causal se anulará todo lo actuado, así como sus consecuencias académicas y administrativas, sin perjuicio de las sanciones que correspondan aplicar al estudiante y la denuncia
        penal atinente.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 93º</span>
        </strong> - Para el caso en el que dos (2) o más asignaturas aprobadas en la Universidad de origen, resultaren totalmente equivalentes a una (1) materia del Plan de Estudio de esta, se consignará como calificación, el promedio del puntaje obtenido en aquellas.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 94º</span>
        </strong>- La evaluación de lo solicitado, respetará, para el otorgamiento de equivalencias, el régimen sobre correlatividades del Plan de Estudios de esta Universidad, vigente al momento de la solicitud.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 95º</strong>
        </span> - La Secretaría de Asuntos Académicos del Rectorado, confeccionará y recepcionara en coordinación con los Departamentos Académicos, los formularios correspondientes a los cambios de Planes de Estudios y pedidos de Pases y Equivalencias.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 96º</span>
        </strong>&nbsp;- En todos los casos, la validez de las equivalencias entre &nbsp;las materias ya aprobadas se regirán &nbsp;por las siguientes condiciones:</p>
      <p>
        <strong>a)</strong> Hasta no más allá de cuatro (4) años -de la fecha de aprobación de la asignatura en cuestión- podrá otorgarse equivalencias directas, según lo dispuesto por la presente ordenanza.</p>
      <p>
        <strong>b)</strong> Entre cuatro (4) y ocho (8) años de aquella fecha de aprobación, las equivalencias están sujetas a ciertos requisitos que pongan en evidencia la actualización de los contenidos específicos de la asignatura en cuestión: Coloquios; aprobación
        de Trabajos Prácticos, Evaluación parcial, etc. Dichos requisitos serán determinados, en cada caso, por los Departamentos Académicos respectivos.</p>
      <p>
        <strong>c)</strong> Con más de ocho (8) años de aquella fecha de aprobación de la asignatura, no se otorgarán equivalencias. Para aquellos casos, que por sus características particulares sean considerados como excepcionales, el Departamento correspondiente,
        podrá disponer que sean exceptuados de los tratamientos de los incisos &nbsp;b) y c) del presente artículo.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 97º</span>
        </strong> - Teniendo en cuenta los contenidos de las asignaturas, las equivalencias de materias de estudio serán evaluadas de la siguiente manera:</p>
      <p>
        <strong>a)</strong> Directas o Automáticas: En los casos en que se evidencie suficiente analogía de contenidos temáticos entre las asignaturas originales y la del Plan de Estudios vigente en esta uniersidad.</p>
      <p>
        <strong>b)</strong> Indirectas o Condicionadas: En los casos en que existan diferencias no superiores a un treinta por ciento (30%) en los contenidos generales o específicos entre &nbsp;las asignaturas de la Carrera de origen y/o las del Plan de Estudios
        de esta En este caso, el otorgamiento de las equivalencias, estará sujeto a evaluación favorable (Prueba de Complementación) en relación a las Unidades que indique la Cátedra de esta Universidad, y que consigne la respectiva Resolución Departamental.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 98º</span>
        </strong> - Las Pruebas de Complementación podrán ser de carácter teórico, teórico-práctico, o práctico.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 99º</strong>
        </span> - Las Pruebas señaladas en el artículo anterior, se rendirán en los períodos normales de exámenes, estando las inscripciones sujetas a las disposiciones Correlativas de esta Ordenanza.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 100°</strong>
        </span> - Las Pruebas de Complementación podrán ser rendidas una sola vez. Si el estudiante no aprobare, perderá definitivamente el derecho a la equivalencia, debiendo en este caso quedar sujeto para su evaluación en la Asignatura, a las demás normas
        respectivas de este Ordenamiento.</p>
      <p>Las Pruebas de Complementación serán evaluadas y calificadas</p>
      <p>según lo previsto en este Ordenamiento para los Exámenes Finales de Estudiantes Regulares.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Artículo 101º</strong>
        </span> - Las solicitudes de Cese de Matricula y/o Pase a otras Universidades o Institutos Universitarios deberán tramitarse en todos los casos ante la Secretaría de Asuntos Académicos del Rectorado.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Artículo 102º&nbsp;</span>
        </strong>- La información en relación a la situación Académica de los estudiantes, requerida por otras Universidades o Institutos Universitarios, se canalizaran a través de la Secretaría de Asuntos &nbsp;Académicos del &nbsp;Rectorado, y se diligenciaran
        con el carácter de Preferencial.</p>
    </div>
  </ion-content>
</ion-view>