<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MarcosNieto.ReglamentoEstudiantesUNLaR" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Reglamento de Estudiantes UNLaR</name>
    <description>
      El Reglamento de Estudiantes es el encuadre institucional que determina los derechos y deberes de los estudiantes de la Universidad Nacional de la Rioja.
    </description>
    <author email="marcos.nieto17@gmail.com" href="http://www.ingeotec.tk/">
        Marcos Nieto
    </author>
    <content src="index.html" />
    <access origin="*" />
   	
	
	<gap:splash src="splash.png" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="SplashScreenDelay" value="5000" />    
<preference name="fullscreen" value="true" />
	
<preference name="android-minSdkVersion" value="17" />)
<preference name="android-targetSdkVersion" value="28" />)
	
	<platform name="android">
        <icon qualifier="xxxhdpi" src="Icon.png" />
        <splash qualifier="" src="Splash.png" />
   	</platform>
	
	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
	
	
</widget>
